#contact_modal {
    display: none;
}
.photographPage{
    padding-bottom: 114px ;
} 

/*Style du header de la page photographe*/

.photograph-header {
    background-color: #FAFAFA;
    max-width: 1240px;
    height: 313px;
    margin: 30px 100px 20px;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    border-radius: 5px;
}

.photographInfo {
    margin-left: 50px;
    margin-top: 70px;
    padding-right: 80px;
}

.photographInfo h1{
    font-size: 64px;
    color: #D3573C;
    margin: 0;
}

.photographInfo h2{
    font-size: 24px;
    color: #901C1C;
    margin: 0;
}

.photographInfo h3{
    font-size: 18px;
    color: #525252;
    margin: 0;
    margin-top: 10px;
}

#bloc-contact{
    margin: auto;
}

#bloc-picture{
    margin: auto;
    margin-right: 40px;
}

.photograph-header img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 0px 10px 0px black;
}

.contact_button{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer; 
}

.contact_button:hover{
    background-color: #DB8876;
    color: black;
}

.contact_button:focus{
    background-color: #DB8876;
    color: black;
}

/*Style de la bannière en bas de page*/

#banner {
    background-color: #DB8876;
    width: 380px;
    height: 75px;
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 35px;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    justify-content: space-between;  
}

.likes {
    display: flex;
}

.likes img{
    width: 18px;
    margin: auto;
}

.likes h5{
    margin:auto;
    margin-left: 30px;
    margin-right: 7px;
    font-weight: 500;
    font-size: 24px;
}

.price{
    display: flex;
    justify-content: center;
    margin-right: 34px;
}

.price h5 {
    margin: auto;
    font-weight: 500;
    font-size: 24px;
}

@media screen and (min-width: 1440px) {
    
    .photograph-header{
        max-width: unset;
        margin: 30px 100px 20px 100px
    }

    .media_section{
        margin: 0px 100px;
        justify-content: space-between;
        row-gap: 10px;
        column-gap: 50px;

    }
}
